.u_ctrl.u_is--active {
  color: red;
  font-weight: bold;
  letter-spacing: -1px;
}
.u_volume {
  position: relative;
}
.u_volume input[type="range"] {
  display: none;
  position: absolute;
  left: 50%;
  bottom: calc(100% + 30px);
  transform: translateX(-50%);
}
.u_volume.u_is--active > input[type="range"] {
  display: block;
}
